* {
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    text-align: center;
    width: 80%;
    justify-content: center;
}

.title {
    text-align: center;
    text-decoration: underline;
}



.box {
    width: 30%;
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
}

@media only screen and (max-width: 600px) {
    .container {
        width: 90%;
    }

    .box {
        width: 100%;
    }
}


@media only screen and (min-width: 600px) {
    .container {
        width: 90%;
    }

    .box {
        width: 45%;
    }
}


@media only screen and (min-width: 768px) {
    .container {
        width: 90%;
    }

    .box {
        width: 40%;
    }
}

@media only screen and (min-width: 992px) {
    .container {
        width: 80%;
    }

    .box {
        width: 30%;
    }
}