* {
    box-sizing: border-box;
}

p,
small {
    margin: 2px;
}

.email {
    color: rgb(139, 139, 139);
}

.comment {
    background-color: rgb(204, 203, 203);
    padding: 5px;
    border-radius: 5px;
}

.name {
    color: navy;
}

.container {
    font-family: "Courier New", monospace;
    margin: 0 auto;
    text-align: justify;
    width: 80%;
}

.title {
    text-align: center;
    text-decoration: underline;
}

.box {
    width: 70%;
    border: 1px solid black;
    border-radius: 5px;
    margin: 0 auto;
    margin-bottom: 5px;
    padding: 10px;
}

@media only screen and (max-width: 600px) {
    .container {
        width: 90%;
    }

    .box {
        width: 100%;
    }
}